html,
body {
	height: 100%;
}
body {
	margin: 0;
	background: rgb(20,20,20);
	color: #ddd;
}

.page {
	min-height: 100%;
	position: relative;
	width: 900px;
	margin: 0 auto;
	background: linear-gradient(to right, rgb(20,20,20), rgb(100,100,200), rgb(20,20,20));
}
@media all and (max-width: 900px) {
	.page {
		width: auto;
	}
}
.container_principal {
	padding-bottom: 80px;
}
/* Le header */
header {
	background: linear-gradient(to right, rgb(20,20,20), rgb(100,100,200), rgb(20,20,20));
	height: 60px;
}
header h1 {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}

/* Corps */

section div {
	display: inline-block;
	box-sizing: border-box;
	width: 49%;
	margin: 0;
}
@media all and (max-width: 900px) {
	section div {
		display: block;
		width: auto;
	}
}
section div h2 {
	text-align: center;
	text-decoration: underline;
}
section div p {
	padding: 0 10px;
}

/* footer */

footer {
	background: linear-gradient(to right, rgb(20,20,20), rgb(100,100,200), rgb(20,20,20));
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p {
	text-align: center;
	font-weight: bolder;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}